---
title: krypton ipsum
---

%header.index-page
  .row
    .large-12.large-centered.columns
      .row
        .large-5.columns
          .krypton-ipsum
            %form#ipsum-form{:action => "#", :method => "post", :class => "custom"}
              %input.button.medium{:type => "submit", :value => "Talk Krypton Ipsum", id: "submit generate"}
              %br/
              %h4 Paragraphs:
              %input#paragraph_count{:style => "width: 25px;", :type => "text", :maxlength => "2", :value => "1"}
              %br/
              %h4 Flavors :
              %br/
              %input#full-krypton{:type => "radio", :name => "choice", :value => "full-krypton", :checked => ""}
              %label{:for => "full-krypton"} Full Krypton
              %br/
              %input#only-seth{:type => "radio", :name => "choice", :value => "only-seth"}
              %label{:for => "only-seth"} Only Seth
              %br/
              %input#sans-seth{:name => "choice", :type => "radio", :value => "sans-seth"}
              %label{:for => "sans-seth"} Sans Seth
              %br/
        .large-7.columns
          .krypton-ipsum-text
            %textarea#box-content
            %p Just select all + copy

%section.content.row
  .large-12.large-centered.columns
    %p.subtitle
      Two weeks.
      %br/
      Seventeen Individuals.
      %br/
      One Seth Godin.
      %br/
      165 words.

%section.index-page-scholars
  .row
    .large-4.large-centered.columns.krypton-title
      %h3.krypton-title= link_to 'Interns', "#"
  .row.index-page-scholars
    .large-12
      %ul.small-block-grid-2.large-block-grid-3
        - (1..17).each do |f|
          %li
            = link_to image_tag("intern-#{f}.jpg"), "images/intern-#{f}.jpg", :class => "group"
